#dongtai span{
	text-align:left;
	margin-left: 256px;
    font-size:11px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:#222222;
}
#dt{
	float: left;
	width: 821px;
	background-color: #FFFFFF;
	border-radius: 6px;
	margin-left: 256px;
	margin-top: 23px;
	color: #222222;
	font-size: 10px;
}
#dt img{
	width: 43px;
	height: 43px;
	float: left;
	border-radius:50%;
	margin-left: 18px;
	margin-top: 16px;
}
#dt span{
    font-size:11px;
    font-family:PingFang-SC-Regular;
    font-weight:400;
	margin-left: 12px;
	margin-top: 33px;
	float: left;
    color:#222222;
}
#dt01 span:nth-of-type(1){
    font-size:10px;
    font-family:SanFranciscoDisplay-Regular;
    font-weight:400;
	margin-left: 18.5px;
	margin-top: 13.5px;
	float: left;
    color:#999999;
}
#dt01 span:nth-of-type(2){
	width:529px;
    height:31px;
	float: left;
	margin-left: 19px;
	margin-top: 17px;
    font-size:10px;
    font-family:PingFang-SC-Regular;
    font-weight:400;
    color:#222222;
    line-height:21.5px;
}
#dt01 span:nth-of-type(3){
	float: left;
	margin-left:710px;
    font-size:10px;
    font-family:PingFang-SC-Regular;
    font-weight:400;
    color:#666666;
}
#dt01 span:nth-of-type(4){
	float: left;
	margin-left:15px;
    font-size:10px;
    font-family:PingFang-SC-Regular;
    font-weight:400;
    color:#666666;
}
#dt01 span:nth-of-type(5){
	float: left;
	margin-left:15px;
    font-size:10px;
    font-family:PingFang-SC-Regular;
    font-weight:400;
    color:#666666;
}
.line03{
	width:784px;
    height:0.7px;
	margin-left: 18.55px;
	margin-top: 17px;
    background:#E7E7E7;
    border-radius:1px;
}