article{
    width:100%;
    height:auto !important;
    margin:0 auto;
    background-color: #FAFAFA;
}
img.painting{
	float: left;
	margin-left: 18.8%;
	margin-top: 23px;
	width: 33.36%;
	height: 284px;
	border-radius: 4px;
}
#brief{
	float: left;
	float: top;
	margin-left: 2.85%;
	margin-top: 47px;
	width: 26.28%;
}
#brief span{
	line-height: 24px;
	font-size: 10px;
	color: #666666;	
}
#brief .line{
	float: top;
	float: left;
	height: 1px;
	width: 100%;
	background-color: #E7E7E7;
	margin-top: 17px;
}
#brief span:nth-of-type(1){
	font-size: 15px;
	font-style: "PingFang-SC-Medium";
	color: #222222;
	display: block;
}
#brief img.artist{
	float: left;
	width: 11.94%;
	height: 43px;
	border-radius: 50%;
	margin-top: 22px;
}
#brief span:nth-of-type(2){
	margin-left: 3.9%;
	margin-top: 45px;
	font-size: 11px;
	color: #222222;
	font-style: "PingFang-SC-Medium";
	display: block;
	margin-bottom: -10px;
}
#brief span:nth-of-type(4){
	margin-top: 13px;
	display: block;
}
#brief span:nth-of-type(6){
	margin-left: 9.7%;
}
#brief img.liulan{
	width: 3.6%;
	height: 7px;
	margin-right: 1.67%;
}
#brief img.shoucang{
	width: 2.78%;
	height: 9px;
	margin-left: 9.44%;
	margin-right: 2.5%;
}
#brief .button{
	margin-top: 20px;
}
#brief .button button{
	width: 18.06%;
	height: 26px;
	margin-left: 1.11%;
	border-radius: 3px;
	color: #666666;
	background-color: #FFFFFF;
	border: 1px solid #E7E7E7;
	font-size: 10px;
	float: top;
}
#brief .button img{
	margin-top: 4px;
	margin-right: 4px;
}
#brief .button img.b01{
	width: 9px;
	height: 12px;
}
#brief .button img.b02{
	width: 12px;
	height: 11px;
}
#brief .button img.b03,#brief .button img.b04{
	width: 11px;
	height: 11px;
}
#brief .button img.b05{
	width: 11px;
	height: 9px;	
}
#detail{
	float: left;
	width: 45.3%;
	height: 1260px;
	background-color: #FFFFFF;
	border-radius: 4px;
	margin-left: 18.8%;
	margin-top: 23px;
	color: #666666;
	font-size: 10px;
}
#detail p{
	margin-left: 2.58%;
	line-height: 28px;
	font-family: PingFang-SC-Regular;
}
#detail p:nth-of-type(1){
	color: #222222;
	font-size: 14px;
	font-family: PingFang-SC-Medium;
}
#detail .line{
	width: 4.67%;
	height: 1px;
	margin-left: 16px;
	border-radius: 1px;
	background-color: #24C78B;
}
#detail p:nth-of-type(2){
	margin-top: 10px;
}
#detail .line01{
	float: left;
	width: 2px;
	height: 14px;
	background-color: #24C78B;
	margin-top: 17px;
	margin-left: 16px;
}
#detail span:nth-of-type(1){
	margin-left: 9px;
	margin-top: 17px;
	float: left;
	float: top;
	font-size: 12px;
}
#detail .line02{
	width: 94.7%;
	height: 1px;
	background-color: #E7E7E7;
	margin-left: 16px;
	margin-top: 19px;
	float: left;
}
#detail input.form-control{
	width: 88.89%;
	height: 90px;
	margin-top: 17px;
	margin-left: 26px;
	border-radius: 4px;
	background-color: #FAFAFA;
	border-style: none;
	float: left;
}
#detail button{
	width: 10.47%;
	height: 26px;
	color: #FFFFFF;
	background-color: #24C78B;
	border: 1px solid;
	border-radius: 3px;
	font-size: 10px;
	margin-left: 14px;
	margin-top: 17px;
	float: left;
	font-style: "PingFang-SC-Medium";
}
#detail img:nth-of-type(1){
	width: 20px;
	height: 20px;
	margin-left: 76.8%;
	margin-top: 21px;
	float: left;
}
#detail .line03{
	width: 2px;
	height: 14px;
	background-color: #24C78B;
	margin-top: 25px;
	margin-right: 8px;
	float: right;
}
#detail span:nth-of-type(2){
	margin-right: 87.6%;
	margin-top: 24px;
	font-size: 12px;
	float: right;
}
#detail .comment img:nth-of-type(1){
	width: 39px;
	height: 39px;
	margin-left: 16px;
	margin-top: 18px;
	border-radius: 50%;
}
#detail .comment span:nth-of-type(1){
	font-size: 11px;
	margin-left: 12px;
	margin-top: 31px;
	font-family: PingFang-SC-Medium;
}
#detail .comment .stick{
	width: 29px;
	height: 13px;
	border:1px solid #E7E7E7;
	margin-left: 9px;
	margin-top: 31px;
	float: left;
	text-align: center;
	color: #666666;
}
#detail .comment span:nth-of-type(2){
	font-size: 2px;
	font-family: SanFranciscoDisplay-Regular;
	color: #999999;
	margin-top: 34px;
	margin-right: 19px;
}
#detail .comment p{
	margin-left: 10.63%;
	margin-top: 15px;
	font-size: 10px;
	float: left;
	color: #222222;
}
#detail .comment img:nth-of-type(2){
	width: 14px;
	height: 14px;
	margin-left: 10.3%;
	margin-top: 23px;
	float: left;
}
#detail .comment img:nth-of-type(3){
	width: 14px;
	height: 13px;
	margin-left: 17px;
	margin-top: 24px;
	float: left;
}
#detail .comment span:nth-of-type(3),#detail .comment span:nth-of-type(4){
	color: #999999;
	margin-left: 9px;
	margin-top: 24px;
	float: left;
}
#detail .comment span:nth-of-type(5){
	margin-left: 69.4%;
	float: left;
	margin-top: 25px;
	color: #666666;
}
#detail .comment a{
	color: #666666;
}
#detail .comment a:hover{
	color: #24C78B;
}
#detail .paginating{
	float: left;
	margin-top: 31px;
	margin-left: 15.78%;
}
#detail .paginating .page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
}
#detail .paginating .page-link:hover {
    z-index: 2;
    text-decoration: none;
    border-color: #24C78B;
}
#detail .paginating .page-item.active .page-link {
    z-index: 1;
    color: #FFFFFF;
    background-color: #24C78B;
    border-color: #24C78B;
}
#detail .paginating .page-link {
    display: block;
    line-height:29px;
    text-align: center;
    color: #999999;
    background-color: #FFFFFF;
    border: 1px solid #E7E7E7;
    margin-left: 7px;
    border-radius: 4px;
    width: 29px;
    height: 29px;
}
#detail .paginating .page-item:nth-of-type(1) .page-link:hover,#detail .paginating .page-item:nth-of-type(12) .page-link:hover{
	background-color: #E7E7E7;
	border:1px solid #E7E7E7;
}
#detail .paginating a {
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
user agent stylesheet
#detail .paginating a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
user agent stylesheet
#detail .paginating li {
    display: list-item;
    text-align: -webkit-match-parent;
}
#detail .paginating .pagination {
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}
#similar{
	background-color: #FFFFFF;
	width: 14.6%;
	height: 339px;
	float: left;
	margin-left: 2.48%;
	margin-top: 23px;
	border-radius: 4px;
}
#similar span.title{
	font-size: 11px;
	color: #222222;
	margin-left: 8.5%;
	margin-top: 17px;
	float: left;
	font-family: PingFang-SC-Regular;
}
#similar .line{
	height: 1px;
	width: 83%;
	background-color: #E7E7E7;
	margin-left: 8.5%;
	margin-top: 11px;
	float: left;
}
#similar .flex-container{
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;   
    align-content: space-between;
    flex-flow: wrap; 
    width: 82.5%;
    height: 265px;
    margin-left: 8.5%;
    margin-top: 17px;  
    float: left; 
}
.flex-item {
	flex-flow: wrap;
	height: 77px;
	width: 77px;
	background-color: #FFFFFF;
	border-radius: 4px;				
}
.flex-item:hover{
	box-shadow: 1px 1px #999999;
    cursor: pointer;
}
#similar .flex-item img:nth-of-type(1){
	width: 100%;
	height: 51px;
	border-radius: 4px 4px 0 0;
}
#similar .flex-item span:nth-of-type(1){
	font-size: 9px;
	color: #666666;
	margin-left: 8px;
	margin-top: 4px;
	line-height: 0;
	display: block;
}
#similar .flex-item img:nth-of-type(2){
	width: 9px;
	height: 4px;
	margin-left: 9px;
}
#similar .flex-item span:nth-of-type(2){
	font-size: 9px;
	color: #999999;
	line-height: 0;
}