footer{
    width:100%;
    background-color:#484848;
    margin:0 auto;
    min-width:1370px;
    float: left;
}
#footer{
    width:62.4%;
    height:176px;
    margin:0 auto;
    background-color:#484848;
}
#footer_logo{
    float:left;
    width: 100px;
    height: 41px;
    margin-top:51px;
}
#footer_text{
    float:left;
    font-size: 10px;
}
#footer a{
    color:#FFF;
    font-size:0.6875rem;
}
#footer a:hover{
    color:#24C78B;
}
#footer_text ul{
    display:block;
    margin-top:50px;
    margin-left: 39px;
    color: #FFFFFF;
    font-size: 11px;
    height: 36px;
}
#footer_text li{
    float:left;
    margin-left:35px;
}
#footer_text p:nth-of-type(1){
    margin-left: 73px;
}
#footer_text p:nth-of-type(2){
    color: #E7E7E7;
    margin-left: 73px;
    margin-top: 22px;
}
